/* nav related style */
body{
    font-family:'Lato',sans-serif;
    font-family:'Open Sans',sans-serif;
    
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 15px,35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight:bolder 800px;
    margin:0 200px;
}
span{
    color:#FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
/*header related style*/
.header{
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width:500px ;
}
.profile-picture{
    height:600px;
    width: 500px;
}
.banner-greetings{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size:85px;
    font-weight: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*main section styles*/

/*about section styles*/
.about{
    padding: 50px 130px;
    background: #e6ded96c;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 80px;
    margin-right: 80px;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight:700;
}
.section-description{
    font-size:20px ;
    color: #757575;
}